# Java
*.class
*.jar
*.war
*.ear

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
/.idea/
*.iml
*.ipr
*.iws
/.vscode/

# Node
node_modules/
dist/

# Env
.env

# Others
*.swp
# Archivos temporales de LaTeX
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
*.run.xml

# PDF
*main.pdf
